@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my MVC API application, called Book Keeping catalog</h1>
    <p>This application enable you to <br /> Create new category of book <br /> Read the categories created <br /> Update the category and <br /> Delete any of the categories </p>
    <h5>Kindly click the category button on the navbar to explore these functionalities</h5>
    <p>Check my <a href="https://olasquare202.github.io/Boostrap-V5-Project-with-SASS/">Portfolios</a></p>
</div>
